.navbar {
    background-color:#423D3D;
}
.navbar-expand-sm {
}
.navbar-light {
}
.bg-faded {
}
.navbar-toggler {
}
.navbar-toggler-icon {
    
}
.image-fondo{
    background-image: url("../img/oficina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    max-width:100%;
    height:auto;
}
.cabecera{
    color: #fff;
     width: 1350px; height: 500px;
  
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
      
  }

  
td {
    font-size: 20px;
    line-height: 20px;
    padding: 0 50px;
    text-align: justify;
    width: 10%;
}

td.first {
    border-right: 5px solid #4BB495  ;
}

h2{
    font-size: 25px;
    line-height: 25px;
    padding: 50 10px;
    text-align:center;
    width: 100%;
}
.icono{
    color: red;
    text-align: left;
  font-size: 100px;
      text-align: left;
   position: relative;
     right:380px;
  }

.icono1{
    color: red;
    text-align: left;
  font-size: 100px;
      text-align: left;
   position: relative;
     right:180px;
  }
  
  .icono2{
    color: red;
    text-align: left;
  font-size: 100px;
      text-align: left;
   position: relative;
     left:50px;
  }
  
  
  .icono3{
    color: red;
    text-align: left;
  font-size: 100px;
      text-align: left;
   position: relative;
     left:290px;
  }


.fa-bullseye{
    color:white;
}
.navbar-brand {
    text: white;
}
.collapse {
}

.container-fluid{
    text-align: center;
    background-color:#66ae7f;
}

.features .item .box{
    text-align: center;
    padding: 70px;
    background-color: #fff;
}

}

.box {
}

.fa .fa-home .icon {
    align-items: center;
}


.fa-map-marker {
}
.name {
}
.description {
}
.learn-more {
}
.fa-clock-o {
}
.fa-list-alt {
}
